<ion-header>
  <ion-navbar>
    <ion-title>最热电影</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<!-- ion-card *ngFor="let post of posts">

  <ion-card-content
    [innerHTML]="post.description"
  >
  </ion-card-content>

</ion-card -->

<ion-list>
  <button
    ion-item
    *ngFor="let film of (films | async)?.subjects"
  >
  	<div style="float:left">
  		<img src="{{film.images.small}}">
  	</div>
  	<div style="float:left;margin-left:20px;">
    	<p style="font-size: 18px;font-weight: 700;">{{ film.title }}</p>
    	<p style="margin-top: 10px;">豆瓣评分：{{ film.rating.average }}</p>
    	<p style="margin-top: 10px;;">年份：{{ film.year }}</p>
    	<p style="margin-top: 10px;;">类型：{{ film.genres }}</p>
    </div>
  </button>
</ion-list>

</ion-content>
